*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
$blue: #3663f5;
$black: #2c2b38;
$navy: #3b3f5f;

@media screen and (max-width: 500px) {
  .hero {
    width: 100vw;
    height: auto;
    &__header {
      #loginBtn {
        display: none;
      }
      &__logo {
        &__name {
          font-size: 16pt;
        }
      }
      &__nav-section {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-flow: column;
        background-color: #fff;
        min-height: 100vh;
        height: auto;
        width: 100vw;
        padding: 30vw 0vw 20vw;
        transform: translateX(100vw);
        a {
          .hero__header__btn {
            font-size: 16pt;
            width: 70vw;
            color: #fff;
            background-color: $blue;
            height: 70px;
          }
        }
        &__nav {
          flex-flow: column;
          &__btn {
            &:focus {
              outline: none;
            }

            &__item {
              font-size: 20pt;

              &__dropdown {
                position: relative;
                background: none;
                box-shadow: none;
                padding: 0vw 0vw 10vw;
              }
            }
          }
          a {
            text-align: center;
          }
        }
      }
      &__burger {
        display: flex;
        z-index: 50;
        &:focus {
          outline: aqua;
        }
      }
    }
    &__welcome {
      width: inherit;
      height: 100vh;
      flex-flow: column;
      justify-content: space-between;
      -webkit-flex-flow: column;
      &__empty {
        width: 100%;
        height: 70vh;
      }
      &__text {
        width: 85%;
        height: 70%;
        padding: 20vh 0vh 0vh;
        left: 4vh;
        right: 4vh;
        bottom: 34vh;

        &__title {
          font-size: 30pt;
          line-height: 40pt;
        }
        &__description {
          line-height: 14pt;
        }
        &__btn {
          width: 75%;
        }
      }
      &__image {
        height: 44%;
        width: 100%;
        align-self: flex-end;
      }
    }
  }
  .clients {
    height: 50vh;
    text-align: center;
    padding: 10vw 0vw 0vw;

    &__title {
      width: 80%;
    }
    &__list {
      width: 90%;
      overflow-x: scroll;
      display: flex;
      height: 40vw;
      &__item {
        width: 90%;
        margin: 0px 50px 0px;
      }
    }
  }
  .aboutus {
    &__element {
      flex-flow: column;
      -webkit-flex-flow: column;
      width: 100%;
      height: 110vh;
      margin: 0vw 0vw 8vw;

      &:nth-child(2) {
        flex-flow: column;
      }
      &__image {
        width: inherit;
        height: 40vh;

        &--second {
          width: 90vw;
          height: 60vh;
          overflow: hidden;
          img {

            width: 100%;
            object-fit: cover;
            -o-object-fit: cover;
            object-position: -50vw;
          }
        }
        &--third {
          width: inherit;
          height: 60vh;
          overflow: hidden;
          padding: 0vw 0vw 10vw;
          img {
            height: 100%;
            object-fit: cover;
            -o-object-fit: cover;
            object-position: -50vw;
          }
        }
      }
      &__content {
        width: inherit;
        height: 70vh;
        &__title {
          padding: 10vw 0vw 0vw;
        }

        &__btn {
          width: 79%;

          &--second {
            border: none;
            color: #fff;
            font-size: 14pt;
            height: 70px;
            width: 79%;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 5px 0px 0px 5px;

            span {
              height: inherit;
              width: 70px;
              position: absolute;
              right: -71px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0px 5px 5px 0px;
            }
          }
        }
      }
    }
  }

  .services {
    height: auto;
    padding: 0;
    &__title {
      text-align: center;
    }
    &__description {
      width: inherit;
      padding: 0vw 5vw 0vw;
    }
    &__list {
      display: flex;
      flex-flow: column;

      &__item {
        width: 100%;
        height: 70vh;
        padding: 20vw 5vw 20vw;
        border-bottom: 1px solid rgba($black, 0.5);
      }
    }
    &__action {
      width: 100%;
      padding: 5vw;
      margin: 0;
      height: auto;
      &__description {
        width: 100%;
        font-size: 16pt;
      }
      &__btn {
        width: 80%;
        height: 80px;
        font-size: 18pt;
      }
    }
  }
  .testimonials {
    width: 100vw;
    height: auto;
    padding: 10vw 0vw 0vw;
    &__element {
      flex-flow: column;
      height: inherit;
      width: 100%;

      &__image {
        width: 100%;
      }
      &__content {
        width: 100%;
        padding: 0vw 5vw 0vw;
        &__title {
          font-size: 30pt;
        }
        &__description {
          font-size: 16pt;
        }
      }
    }
  }
  .excellence {
    width: 100vw;
    height: auto;
    padding: 15vw 5vw 20vw;
    flex-flow: column;
    -webkit-flex-flow: column;

    &__description {
      width: 100%;
      font-size: 16pt;

      &:before {
        content: "";
        display: block;
        height: 90%;
        width: 8px;
        margin: 0px 40px 0px 0px;
      }
    }
    &__numbers {
      flex-flow: column;
      -webkit-flex-flow: column;
      height: auto;
      justify-content: space-between;
      &__first-column {
        width: 100%;
        margin: 10vw 0vw 0vw;
        &__purple {
          width: 90vw;
          height: 90vw;
          padding: 10vw;
        }
        &__blue {
          width: 100%;
          height: 70vw;
          padding: 10vw;
          margin: 0vw 0vw 5vw;
        }
      }
      &__last-column {
        width: 100%;
        align-items: flex-end;
        &__navy {
          width: 90vw;
          height: 90vw;
          padding: 10vw;
        }
        &__red {
          width: 90vw;
          height: 100vw;
          padding: 40vw 10vw 10vw;
          margin: 0vw 0vw 5vw;
        }
      }
    }
    &__action {
      width: 90vw;
      height: auto;
      padding: 25vw 0vw 0vw;

      &__btn {
        width: 80%;
      }
    }
  }

  .contact {
    width: 100%;
    height: auto;
    padding: 0;
    justify-content: space-between;
    &__head {
      margin: 50px 0px 0px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-flow: column;
      &__title {
        line-height: 80px;
      }
      &__description {
        font-size: 14pt;
        margin: 3vw 0vw 0vw;
        width: 80%;
      }
    }
    &__form-and-map {
      height: auto;
      flex-flow: column;
      -webkit-flex-flow: column;
      align-items: flex-end;
      padding: 0;
      margin: -80px 0px 0px;
      &__map {
        width: 100%;
        height: 60vh;
      }
      &__form {
        width: 100%;
        height: auto;
        &__title {
          font-size: 28pt;
        }
        &__inputs {
          height: 80%;
          &__fullname {
            label {
              font-size: 14pt;
            }
            input {
              height: 60px;
            }
          }
          &__email {
            label {
              font-size: 14pt;
            }
            input {
              height: 60px;
            }
          }
          &__message {
            label {
              font-size: 14pt;
            }
          }
          &__btn {
            width: 82%;
            font-size: 16pt;
            left: 0;
            align-self: auto;
            height: 70px;
            margin: 10vw 0vw 0vw;
            &--notActive {
              width: 82%;
              font-size: 16pt;
              left: 0;
              align-self: auto;
              height: 70px;
              margin: 10vw 0vw 0vw;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100vw;
    height: 90vh;
    padding: 10vw 5vw 0vw;

    &__website-map {
      flex-flow: column;
      -webkit-flex-flow: column;
      justify-content: space-between;
      height: 100%;
      &__company-summary {
        width: 100%;
        h3 {
          font-weight: 600;
        }
        p {
          line-height: 22pt;
        }
      }
      &__list {
        h3 {
          font-weight: 600;
        }
        ul {
          display: flex;
          justify-content: space-between;
        }
      }
      &__contact {
        width: 100%;
        height: 15vh;
        ul {
          margin: 5vw 0vw 0vw;
        }
      }
    }
  }

  .login {
    flex-flow: column-reverse;
    &__left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      svg {
        width: 90%;
        padding: 5vw 0vw 0vw;
      }
    }

    &__right {
      height: 70vh;
      width: 100vw;
      padding: 5vw;
      &__goback {
        background: none;
        font-size: 14pt;
      }
      &__form {
        width: 100%;
        height: 75%;
        justify-self: center;
        padding: 5vw 0vw 0vw;
        &__title {
          font-size: 24pt;
        }
        &__input {
          &__checkbox {
            input {
              width: 18px;
            }
            label {
              font-size: 14pt;
            }
          }
        }
      }
    }
  }

  .blog {
    padding: 30vw 5vw 0vw;
    height: auto;

    &__header {
      flex-flow: column;
      align-items: flex-start;
      &__head {
        font-size: 40pt;
      }
      &__input {
        width: 100%;
        border: 1px solid $navy;
      }
    }
    &__posts {
      display: flex;
      flex-flow: column;

      &__post {
        margin: 0vw 0vw 5vw;
        height: auto;
        &__image {
          height: 45%;
        }
        &__details {
          height: auto;
          padding: 20px;
          &__title {
            font-size: 22pt;
            margin: 0vw 0vw 3vw;
          }
          &__content {
            margin: 0vw 0vw 2vw;
          }
        }
      }
    }
  }

  #reactModal {
    width: 90vw !important;
    margin-left: -45vw !important;
    top: 25vw !important;
    height: 80vh !important;
  }
  .modal-content {
    padding: 3vw;
  }
  .title {
    font-size: 30pt;
    margin: 0vw 0vw 8vw;
  }
  .content {
    margin: 0vw 0vw 6vw;
  }
  .gobackBtn {
    background: none;
    font-size: 14pt;
  }
}
